<!DOCTYPE html>
<html lang="zh">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="author" content="yinq">
    <title>登录 - 超级面板</title>
    <link rel="shortcut icon" type="image/x-icon" href="/__IMG__/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <link rel="stylesheet" type="text/css" href="/__CSS__/materialdesignicons.min.css">
    <link rel="stylesheet" type="text/css" href="/__CSS__/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/__CSS__/animate.min.css">
    <link rel="stylesheet" type="text/css" href="/__CSS__/style.min.css">
    <style>
        .signin-form .has-feedback {
            position: relative;
        }

        .signin-form .has-feedback .form-control {
            padding-left: 36px;
        }

        .signin-form .has-feedback .mdi {
            position: absolute;
            top: 0;
            left: 0;
            right: auto;
            width: 36px;
            height: 36px;
            line-height: 36px;
            z-index: 4;
            color: #dcdcdc;
            display: block;
            text-align: center;
            pointer-events: none;
        }

        .signin-form .has-feedback.row .mdi {
            left: 15px;
        }
    </style>
</head>

<body class="center-vh" style="background-image: url(/__IMG__/login-bg-2.jpg); background-size: cover;">
    <div class="card card-shadowed p-5 mb-0 mr-2 ml-2">
        <div class="text-center mb-3">
            <a href="index.html"> <img alt="light year admin" src="/__IMG__/logo-sidebar.png"> </a>
        </div>

        <ul class=" text-center nav nav-tabs">
            <li class="nav-item">
                <button class="nav-link active" id="basic-config" data-bs-toggle="tab" data-bs-target="#config"
                    type="button">用户登录</button>
            </li>
            <li class="nav-item">
                <button class="nav-link" id="basic-sys" data-bs-toggle="tab" data-bs-target="#sys"
                    type="button">扫码登录</button>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane fade show active" id="config" aria-labelledby="basic-config">

                <form action="#!" method="post" id="forms" class="signin-form needs-validation" novalidate>
                    <div class="mb-3 has-feedback">
                        <span class="mdi mdi-account" aria-hidden="true"></span>
                        <input type="text" class="form-control" name="username" id="username" placeholder="用户名" required>
                    </div>

                    <div class="mb-3 has-feedback">
                        <span class="mdi mdi-lock" aria-hidden="true"></span>
                        <input type="password" class="form-control" name="password" id="password" placeholder="密码" required>
                    </div>

                    <div class="mb-3">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="rememberme">
                            <label class="form-check-label not-user-select" for="rememberme">5天内自动登录</label>
                        </div>
                    </div>

                    <div class="mb-3 d-grid">
                        <button class="btn btn-primary" type="submit">立即登录</button>
                    </div>
                </form>

            </div>
            <div class="tab-pane fade text-center" id="sys" aria-labelledby="basic-sys">
                <div class="mb-3">
                    <label for="config_group" class="form-label">请使用APP进行扫码登录</label>
                    <label for="config_group" class="form-label"><a href="javascript:void(0)"
                            onclick="getQrcode()">获取二维码</a></label>
                </div>
                <div class="mb-3" id="qrcode">
                    <!-- 理论上这里是放二维码的 -->
                </div>
            </div>
        </div>

        <p class="text-center text-muted mb-0">Copyright © 2022 <a target="_blank"
                href="http://www.bixiaguangnian.com">笔下光年</a>. All right reserved</p>
    </div>

    <script type="text/javascript" src="/__JS__/jquery.min.js"></script>
    <script type="text/javascript" src="/__JS__/popper.min.js"></script>
    <script type="text/javascript" src="/__JS__/bootstrap.min.js"></script>
    <script type="text/javascript" src="/__JS__/lyear-loading.js"></script>
    <script type="text/javascript" src="/__JS__/bootstrap-notify.min.js"></script>

    <script type="text/javascript" src="/__JS__/main.min.js"></script>
    <script>
        function getQrcode() {
            $.ajax({
                type: 'post',
                url: '{:url("qrcode")}',
                data: '',
                dataType: 'json',
                success: function (res) {
                    if (res.code == 200) {
                        showNotify('获取成功~\n请在三分钟内完成扫码授权', 'success');
                        var img = document.getElementById('qrcode');
                        png = 'data:image/png;base64,' + res.data.img;
                        img.innerHTML = '<img src=' + png + ' style="width: 200px;" >'
                        life();
                    } else {
                        showNotify('服务器发生错误，请稍后再试', 'danger');
                    }
                }
            });
        }

        function detection() {
            $.post("{:url('qr_check')}", {}, function (res) {
                if (res.code == 200) {
                    showNotify('授权成功~', 'success');
                    setTimeout("location.href='/admin/index'", 3000);
                }
            }, 'json')
        }

        function life() {
            orderlst = window.setInterval(function () {
                detection();
            }, 3000);
        }
    </script>
    <script type="text/javascript">
        var loader;
        $(document).ajaxStart(function () {
            $("button:submit").html('登录中...').attr("disabled", true);
            loader = $('button:submit').lyearloading({
                opacity: 0.2,
                spinnerSize: 'nm'
            });
        }).ajaxStop(function () {
            loader.destroy();
            $("button:submit").html('立即登录').attr("disabled", false);
        });
        $('.signin-form').on('submit', function (event) {
            if ($(this)[0].checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
                $(this).addClass('was-validated');
                return false;
            }

            var $data = $(this).serialize();


            $.ajax({
                type: "post",
                url: "{:url('read')}",
                data: $("#forms").serialize(),
                dataType: 'json',
                success: function (res) {
                    if (res.code == 200) {
                        $.notify({
                            message: '登录成功，页面即将跳转~',
                        }, {
                            type: 'success',
                            placement: {
                                from: 'top',
                                align: 'right'
                            },
                            z_index: 10800,
                            delay: 1500,
                            animate: {
                                enter: 'animate__animated animate__fadeInUp',
                                exit: 'animate__animated animate__fadeOutDown'
                            }
                        });
                        setTimeout(function () {
                            location.href = 'index.html';
                        }, 1500);
                    } else {
                        $.notify({
                            message: '登录失败，错误原因：' + res.msg,
                        }, {
                            type: 'danger',
                            placement: {
                                from: 'top',
                                align: 'right'
                            },
                            z_index: 10800,
                            delay: 1500,
                            animate: {
                                enter: 'animate__animated animate__shakeX',
                                exit: 'animate__animated animate__fadeOutDown'
                            }
                        });
                        $('#password').val('');
                        $("#captcha").click();
                    }
                }
            });

            return false;
        });
    </script>
</body>

</html>