<!--
 * @Author       : Lucifer
 * @Date         : 2022-12-16 09:55:45
 * @LastEditTime : 2022-12-16 09:57:56
 * @FilePath     : \ioucode_auth\app\safe\view\index\index.html
-->
<!DOCTYPE html>
<html lang="zh">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
<meta name="author" content="yinq">
<title>404 - 页面不存在</title>
<link rel="shortcut icon" type="image/x-icon" href="/__IMG__/favicon.ico">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-touch-fullscreen" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="default">
<link href="/__CSS__/bootstrap.min.css" rel="stylesheet">
<link href="/__CSS__/materialdesignicons.min.css" rel="stylesheet">
<link href="/__CSS__/style.min.css" rel="stylesheet">
<style>
body {
    background: #f4f5fa;
}
[data-theme|='translucent'],
[data-theme|='dark'] {
    background: transparent;
    color: #fff;
}
.error-page {
    height: 100%;
    position: fixed;
    width: 100%;
}
.error-body {
    padding-top: 5%;
}
.error-body h1 {
    font-size: 210px;
    line-height: 210px;
    color: #cacaca;
}
</style>
</head>
  
<body>
<section class="error-page">
  <div class="error-box">
    <div class="error-body text-center">
      <h1>404</h1>
      <h5 class="mb-5 mt-3 text-gray">很抱歉，但是那个页面看起来已经不存在了。</h5>
      <a href="/" class="btn btn-primary">返回首页</a>
    </div>
  </div>
</section>
<script type="text/javascript" src="/__JS__/jquery.min.js"></script>
<script type="text/javascript" src="/__JS__/bootstrap.min.js"></script>
<script type="text/javascript">;</script>
</body>
</html>