<!--
 * @Author       : Lucifer
 * @Date         : 2022-12-10 14:13:49
 * @LastEditTime : 2022-12-18 10:20:52
 * @FilePath     : \ioucode_auth\app\admin\view\public\footer.html
-->
</div>

<script type="text/javascript" src="/__JS__/jquery.min.js"></script>
<script type="text/javascript" src="/__JS__/popper.min.js"></script>
<script type="text/javascript" src="/__JS__/bootstrap.min.js"></script>
<script type="text/javascript" src="/__JS__/bootstrap-notify.min.js"></script>
<script type="text/javascript" src="/__JS__/tableExport.min.js"></script>
<script type="text/javascript" src="/__JS__/main.min.js"></script>
<!--表格插件js-->
<script src="/__JS__/bootstrap-table/bootstrap-table.js"></script>
<script src="/__JS__/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>

</body>

</html>